.item {
  background-color: #44446a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  margin: 5px 0;
}

.delete {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #d34058;
  color: #fcd5d6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover {
  background-color: #c21632;
}

.done {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #269e64;
  color: #a6eecb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.done:hover {
  background-color: #129153;
}

.complete {
  text-decoration: line-through;
}
